@use '../setup//mixins' as *;

.block {
    $root: &;

    position: relative;

	&__title {

		&:not(:last-child) {
			margin-bottom: 25px;
		}

	}

	&__subtitle {
		display: inline-block;
	}

	&__padding {
        padding: 35px 0;
    }

    &__wrap {
        max-width: 1140px;
		margin: 0 auto;
		padding: 0 20px;

        &--small {
            max-width: 750px;
        }

	}

    &__header,
    &__main {

        &:not(:last-child) {
            margin-bottom: 35px;
        }

    }

	&__header {

        &--center {
            text-align: center;
        }

    }

	&__main {
        position: relative;

		&--center {
			text-align: center;
		}

	}

    &__footer {
        text-align: center;
    }

    @include desktop {

		&__title {

			&:not(:last-child) {
				margin-bottom: 20px;
			}

		}

        &__padding {
			padding: 70px 0;
		}

	}

}
