@use '../setup/' as *;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	-webkit-font-smoothing: antialiased;
	font-family: $font-family;
	line-height: $line-height;
	font-size: rem(14px);
}
